html{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(/img/background.png);
    background-size: 350px;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    position: sticky;
    top: 0;
    height: 70px;
    justify-content: center;
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: flex;
    background-color: rgba(0,0,0,0);
    width: 15%;
    height: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    transition: 0.2s;
}

.navbar ul li:hover {
    background-color: rgba(0,0,0,0.3);
    transition: 0.2s;
}

.navbar ul li a {
    align-content: center;
    color: white;
    text-decoration: none;
    font-size: 24px;
    height: 100%;
    width: 100%;
}

.content {
    margin: 0 auto;
    width: 75%;
    background-color: rgb(255, 255, 255);
}

.header {
    font-size: 64px;
    margin: 0;
    padding-top: 5px;
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 125, 163);
    text-decoration: underline;
}