.nickname {
    color: rgb(168, 168, 168);
    font-size: 12px;
    font-style: italic;
    margin: 0;
}

.avatar {
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: right;
}

.members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.member {
    border: 1px solid black;
    border-radius: 8px;
    width: 350px;
    padding: 5px;
    margin: 5px;
}

.member h2 {
    margin: 5px 0 0 0;
}